[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylama = "*"
yapf = "*"
jupyterlab = "*"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
# mlpack = "*"
pyyaml = "*"
coloredlogs = "*"
tqdm = "*"
click = "*"
scikit-learn = "*"
mlxtend = "*"

[requires]
python_version = "3.6"
